<form action="/playlists/{{playlistId}}/songs/{{song._id}}?_method=PUT" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" value="{{song.name}}">

    <label for="artist">artist</label>
    <input type="text" name="artist" value="{{song.artist}}" step="any">

     <label for="mp3">mp3</label>
    <input type="text" name="mp3" value="{{song.mp3}}">

    <input type="submit" value="Edit">
</form>