<div>
    <h1>{{playlist.name}} Sauce TrackList</h1>

    <div>
        <a href="/playlists/{{playlist._id}}/songs/new">Create a New song</a>
    </div>

    <div>
        <a href="/playlists">Back to playlists</a>
    </div>
    
    {{#each playlist.songs}}
        <div>
            {{this.name}} - {{this.length}}
            <a href="/playlists/{{../playlist._id}}/songs/{{this._id}}">View</a>
        </div>
    {{/each}}
</div>