<div id="{{playlist.name}}">

    <h1>{{playlist.name}}</h1>
    <div>Country: {{playlist.country}}</div>
<iframe src="https://open.spotify.com/embed/user/1263776536/playlist/5Kkq3a2sjW36JaIKFMPZcv" width="300" height="380" frameborder="0" allowtransparency="true"></iframe></div>

    <div>
        <a href="/playlists">Back to playlists</a>
    </div>
    <div>
        <a href="/playlists/{{playlist._id}}/edit">Edit</a>
    </div>
    <div>
        <a href="/playlists/{{playlist._id}}/delete">Delete</a>
    </div>
</div>