<h1>{{user.name}} Sauce</h1>
<div><h3>Creator: {{user.creator}}</h3></div>
<div class="main">

<iframe src="https://open.spotify.com/embed/user/1263776536/playlist/5Kkq3a2sjW36JaIKFMPZcv" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

<button>
    <a href="/users/{{user._id}}/songs">view tracklist</a>
</button>
    <button>
        <a href="/users">Back to users</a>
    </button>
    <button>
        <a href="/users/{{user._id}}/edit">Edit</a>
    </button>
    <button>
        <a href="/users/{{user._id}}/delete">Delete</a>
    </button>
</div>